.videoplayer {
  display: flex;
  justify-content: center;
  flex: 80;
}

.videoplayer__videodetails {
  flex: 80;
  display: relative;
}

.videoplayer__video,
.videoplayer__videoinfo {
  margin-right: 5%;
}

.videoplayer__suggested {
  flex: 0.2;
  margin-top: 0 !important;
}

.videoplayer__videoinfo {
  flex-direction: row;
}

.videoinfo__channeldesc {
  color: gray;
  font-size: small;
}
